<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bin.sinoka.dev</title>


    <meta name="description" content="A simple and lightweight pastebin service. Share text and code snippets easily.">
    <meta name="author" content="SinokaDev">
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bin.sinoka.dev">
    <meta property="og:title" content="bin.sinoka.dev">
    <meta property="og:description" content="Just Another Bin Service. Share text and code snippets easily.">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="bin.sinoka.dev">
    <meta name="twitter:description" content="Just Another Bin Service. Share text and code snippets easily.">
</head>
<body>
    <h1>Just Another Bin Service</h1>
    <a href="/bins">Bin List</a>
    <form action="/bin" method="post">
        <input type="submit" value="Submit"><br>
        <textarea name="content" id="" style="width: 100%; height: 70vh;"></textarea>
    </form>
<p>DMCA Report: Send to sinoka@sinoka.dev or maainnewkin59@gmail.com. Please include the link to the post and proof that you are the original creator of the work. The email subject must begin with "[bin.sinoka.dev] DMCA Report:".</p>
<p>Other Report: We remove posts only if they violate applicable laws. Please include the link to the post, detailed information about the violation (e.g., specific country, law, and article number), and ensure the email subject begins with "[bin.sinoka.dev] Report:".</p>

<p>Terms of Use: You may not use this service for any illegal activities. Content that violates applicable laws may be removed without prior notice.</p>
<p>Privacy Policy: This site uses Cloudflare for security, hosts services on DigitalOcean, and retains the content of posted "Bins" indefinitely.</p>

<p>Made by <a href="https://sinoka.dev">SinokaDev🧊</a>. This is a really simple service. Please don't nitpick.</p> 
<p><a href="https://github.com/sinokadev/JustAnotherBinService">https://github.com/sinokadev/JustAnotherBinService</a></p>
</body>
</html>